In [107]:
'''def remove_lines(input_file, output_file, lines_to_remove):


    with open(input_file, 'r', encoding='utf-8') as infile, open(output_file, 'w', encoding='utf-8') as outfile:
        for line_number, line in enumerate(infile, start=1):
            if line_number not in lines_to_remove:
                outfile.write(line)

lines_to_remove = set(range(0, 1048576))
remove_lines(r"C:\DEPI Project\household_power_consumption.txt", "output.txt", lines_to_remove)'''

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Lorcan Floran\AppData\Local\Temp\ipykernel_20084\3050384269.py:1: SyntaxWarning: invalid escape sequence '\D'
  '''def remove_lines(input_file, output_file, lines_to_remove):

'def remove_lines(input_file, output_file, lines_to_remove):\n\n\n    with open(input_file, \'r\', encoding=\'utf-8\') as infile, open(output_file, \'w\', encoding=\'utf-8\') as outfile:\n        for line_number, line in enumerate(infile, start=1):\n            if line_number not in lines_to_remove:\n                outfile.write(line)\n\nlines_to_remove = set(range(0, 1048576))\nremove_lines(r"C:\\DEPI Project\\household_power_consumption.txt", "output.txt", lines_to_remove)'

In [108]:
import pandas as pd
import numpy as np


df_1 = pd.read_csv(r"C:\DEPI Project\Individual-household.csv")
df_2 = pd.read_csv(r"C:\DEPI Project\Individual-household_2.csv")

C:\Users\Lorcan Floran\AppData\Local\Temp\ipykernel_20084\3789916690.py:6: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(r"C:\DEPI Project\Individual-household_2.csv")

In [109]:
df_full = pd.concat([df_1, df_2], ignore_index=True)

In [110]:
df_full.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0,1,17.0
1,16/12/2006,17:25:00,5.36,0.436,233.63,23,0,1,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23,0,2,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23,0,1,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0,1,17.0

In [111]:
df_1.info()
print("\n*****************************************************\t*****************************************************\t*****************************************************\n")
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Date                   1048575 non-null  object
 1   Time                   1048575 non-null  object
 2   Global_active_power    1048575 non-null  object
 3   Global_reactive_power  1048575 non-null  object
 4   Voltage                1048575 non-null  object
 5   Global_intensity       1048575 non-null  object
 6   Sub_metering_1         1048575 non-null  object
 7   Sub_metering_2         1048575 non-null  object
 8   Sub_metering_3         1044506 non-null  float64
dtypes: float64(1), object(8)
memory usage: 72.0+ MB

*****************************************************	*****************************************************	*****************************************************

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026684 entries, 0 to 1026683
Data columns (total 9 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Date                   1026684 non-null  object
 1   Time                   1026684 non-null  object
 2   Global_active_power    1026684 non-null  object
 3   Global_reactive_power  1026684 non-null  object
 4   Voltage                1026684 non-null  object
 5   Global_intensity       1026684 non-null  object
 6   Sub_metering_1         1026684 non-null  object
 7   Sub_metering_2         1026684 non-null  object
 8   Sub_metering_3         1004774 non-null  float64
dtypes: float64(1), object(8)
memory usage: 70.5+ MB

In [112]:
columns_to_convert = ['Global_active_power', 'Global_reactive_power', 'Voltage', 
                      'Global_intensity', 'Sub_metering_1', 'Sub_metering_2']

df_full[columns_to_convert] = df_full[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [113]:


df_full["apparent_power"] = np.sqrt(df_full["Global_active_power"]**2 + df_full["Global_reactive_power"]**2)


df_full["power_factor"] = df_full["Global_active_power"] / df_full["apparent_power"]

df_full[["Date", "Time", "Global_active_power", "Global_reactive_power", "apparent_power", "power_factor"]].head()

,Date,Time,Global_active_power,Global_reactive_power,apparent_power,power_factor
0,16/12/2006,17:24:00,4.216,0.418,4.236671,0.995121
1,16/12/2006,17:25:00,5.360,0.436,5.377704,0.996708
2,16/12/2006,17:26:00,5.374,0.498,5.397025,0.995734
3,16/12/2006,17:27:00,5.388,0.502,5.411335,0.995688
4,16/12/2006,17:28:00,3.666,0.528,3.703828,0.989787

In [114]:
df_full["Energy_kWh"] = df_full["Global_active_power"] / 60  


df_full["Energy_kWh_cummlative"] = df_full.groupby("Date")["Energy_kWh"].cumsum()



df_full[["Date", "Time", "Global_active_power", "Global_reactive_power", "apparent_power", "power_factor","Energy_kWh","Energy_kWh_cummlative"]].head()

,Date,Time,Global_active_power,Global_reactive_power,apparent_power,power_factor,Energy_kWh,Energy_kWh_cummlative
0,16/12/2006,17:24:00,4.216,0.418,4.236671,0.995121,0.070267,0.070267
1,16/12/2006,17:25:00,5.360,0.436,5.377704,0.996708,0.089333,0.159600
2,16/12/2006,17:26:00,5.374,0.498,5.397025,0.995734,0.089567,0.249167
3,16/12/2006,17:27:00,5.388,0.502,5.411335,0.995688,0.089800,0.338967
4,16/12/2006,17:28:00,3.666,0.528,3.703828,0.989787,0.061100,0.400067

In [115]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
 9   apparent_power         float64
 10  power_factor           float64
 11  Energy_kWh             float64
 12  Energy_kWh_cummlative  float64
dtypes: float64(11), object(2)
memory usage: 205.8+ MB

In [116]:
df_full.columns

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3', 'apparent_power', 'power_factor', 'Energy_kWh',
       'Energy_kWh_cummlative'],
      dtype='object')

In [117]:


df_full['Datetime'] = pd.to_datetime(df_full['Date'] + ' ' + df_full['Time'], format='%d/%m/%Y %H:%M:%S')

df_full.set_index('Datetime', inplace=True)


df_resampled = df_full.resample('15min').asfreq()

df_full.reset_index(inplace=True)
df_resampled.drop(columns=["Sub_metering_1","Sub_metering_2","Sub_metering_3"], inplace=True)
df_resampled=df_resampled.dropna()
df_resampled.to_csv("resampled_15min_data.csv", index=False)

In [118]:
df_resampled.columns

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'apparent_power', 'power_factor',
       'Energy_kWh', 'Energy_kWh_cummlative'],
      dtype='object')